.affiche {
    padding: 30px;
    scroll-behavior: auto;
}

.table-style {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    border: 1px solid #e0e0e0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #ffffff;

}

.table-style th,
.table-style td {
    width: 100px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #f0f0f0;
}

.table-style :nth-child(1),.table-style th :nth-child(1) {
    width: 80px;
}

.table-style :nth-child(2),.table-style th :nth-child(2) {
    width: 80px;
}

.table-style :nth-child(3),.table-style th :nth-child(3) {
    width: 80px;
}

.table-style :nth-child(4),.table-style th :nth-child(4) {
    width: 160px;
}
.table-style :nth-child(5),.table-style th :nth-child(5) {
    width: 100px;
}


.table-style th {
    background-color: #f0f0f0;
    color: #333;
    font-weight: bold;
}

.table-style tr:hover {
    background-color: #fafafa;
}

.table-style a {
    color: #0056b3;
    text-decoration: none;
}

.table-style a:hover {
    text-decoration: underline;
}

.table-style td {
    vertical-align: middle;
}

.button-container {
    margin-bottom: 20px;
}

.btn {
    display: inline-block;
    padding: 8px 6px;
    font-size: 14px;

    text-align: center;
    color: white;
    background-color: #6F4E37;
    border-radius: 5px;
    text-decoration: none;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #9E7D56;
}

.message-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.6);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000;
}

.message-box {
    background-color: #fff;
    padding: 20px 30px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.2);
    max-width: 300px;
}

.message-box p {
    font-size: 16px;
    margin-bottom: 20px;
    color: #6F4E37;
}

.btn-ok {
    background-color: #6F4E37;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn-ok:hover {
    background-color: #9E7D56;
}

.sersh {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;

}

.sersh input[type="text"] {
    width: 300px;
    padding: 8px 10px;
    margin: 0 30px 0 10px;
    border-radius: 6px;
    border: none
}